*

!/.gitignore
!/.zshenv
!/.tmux.conf
!/.dircolors
!/.profile
!/.readme-git/
!/.readme-git/**

!/.config**/
!/.config/zsh/**
!/.config/python/**
!/.config/synapse/**
!/.config/sublime-text-2/Packages/User/**

!/bin**/
!/bin/fiweor
!/bin/subl
!/bin/subl-wait
!/bin/tmux_auto
!/bin/install_st2_package_control.py

!/.vimrc
!/.vim/
!/.vim/**

!/.themes/
!/.themes/xfce-custom.gtkrc

*.swp
