*.swp
/*

!/.gitignore
!/.zshenv
!/.tmux.conf
!/.dircolors
!/.profile

!/.config
/.config/*
!/.config/zsh/
/.config/zsh/.zcompdump*
/.config/zsh/.precmd_colours
!/.config/python/
!/.config/synapse/

!/.readme-git

!/bin
/bin/*
!/bin/fiweor
!/bin/subl
!/bin/subl-wait
!/bin/tmux_auto

!/.vimrc
!/.vim

!/.themes
/.themes/*
!/.themes/xfce-custom.gtkrc
