extends sh

###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet #! "ZSH Shebang" !
#!/bin/zsh

endsnippet
